/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 16px;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
}
* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
._container_1kwvf_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  min-width: 399px;
  margin: 3rem auto 0;
}
._button_107ui_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  position: relative;
}

._button_107ui_1:hover:not(:disabled) {
  background-color: #444;
}

._button_107ui_1:active:not(:disabled) {
  background-color: #222;
}

._button_107ui_1:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

._default_107ui_27 {
  border-radius: 0;
}

._rounded_107ui_31 {
  border-radius: 8px;
}

._small_107ui_35 {
  padding: 6px 12px;
  font-size: 12px;
}

._medium_107ui_40 {
  padding: 8px 16px;
  font-size: 14px;
}

._large_107ui_45 {
  padding: 15px 30px;
  font-size: 22px;
}

._fullWidth_107ui_50 {
  width: 100%;
}

._fixed_107ui_54 {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
._title_47ios_1 {
  margin-bottom: 0.5rem;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 1.5rem;
  font-weight: 700;
}

._guideText_47ios_9 {
  margin-bottom: 1.5rem;
  color: #8b95a1;
  font-family: "Noto Sans KR";
  font-size: 0.9rem;
}
._container_an611_1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 80px;
}

._cardInputs_an611_8 {
  display: flex;
  gap: 0.62rem;
}

._cardInputBox_an611_13 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
}

._errorMessage_an611_20 {
  color: #ff3d3d;
  font-family: "Noto Sans KR";
  font-size: 0.75rem;
}
._label_1vjtc_1 {
  color: #0a0d13;
  font-family: "Noto Sans";
  font-size: 1rem;
  font-weight: 500;
}

._hidden_1vjtc_8 {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}
._input_v81jq_1 {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #acacac;
  height: 2.75rem;
  padding: 0.5rem;
}

._input_v81jq_1:focus {
  border: 1px solid #000;
}

._error_v81jq_13 {
  border: 1px solid #ff3d3d;
}

._error_v81jq_13:focus {
  border-color: #ff3d3d;
}

._input_v81jq_1::-webkit-input-placeholder {
  letter-spacing: 0.6992px;
}
._container_4t5r2_1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  height: 60px;
}
._dropdown_17nuy_1 {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #acacac;
  height: 2.75rem;
  transition: border-color 0.4s;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
}
/* 사파리 지원이 안되던데용, 근데 시멘틱 meaning을 날리기는 싫어서 이렇게 구성했습니다. */
._dropdown_17nuy_1,
._dropdown_17nuy_1::picker(select) {
  appearance: base-select;
}

._dropdown_17nuy_1:hover,
._dropdown_17nuy_1:focus {
  border-color: #000;
}

._dropdown_17nuy_1 option {
  padding: 10px 12px;
  border-radius: 10px;
  transition: background-color 0.2s;
}

._dropdown_17nuy_1 option:hover,
._dropdown_17nuy_1 option:focus {
  background-color: #f5f5f5;
}

._dropdown_17nuy_1 option:checked {
  font-weight: bold;
  background-color: #f0f0f0;
}

._dropdown_17nuy_1::picker(select) {
  border: 1px solid #acacac;
  padding: 4px;
  top: calc(anchor(bottom) + 8px);
  left: anchor(0%);
  width: anchor(100%);
  border-radius: 5px;
}
._container_1xa0n_1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  height: 80px;
}

._expireDateInputContainer_1xa0n_9 {
  display: flex;
  gap: 0.62rem;
}

._expireDateInputBox_1xa0n_14 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
  height: 90px;
}

._errorMessage_1xa0n_23 {
  color: #ff3d3d;
  font-family: "Noto Sans KR";
  font-size: 0.75rem;
  height: 15px;
}
._container_1sop9_1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  height: 80px;
}

._cvcInputs_1sop9_9 {
  display: flex;
  gap: 0.62rem;
}

._errorMessage_1sop9_14 {
  color: #ff3d3d;
  font-family: "Noto Sans KR";
  font-size: 0.75rem;
}
._container_s5ckw_1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  height: 80px;
}

._passwordInputs_s5ckw_9 {
  display: flex;
  gap: 0.62rem;
}

._errorMessage_s5ckw_14 {
  color: #ff3d3d;
  font-family: "Noto Sans KR";
  font-size: 0.75rem;
}
._form_1ehtn_1 {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.8rem 0;
}
._previewCard_1e503_1 {
  margin: 0 auto;
  width: 100%;
  max-width: 24rem;
  height: 15rem;
  background-color: #333333;
  padding: 1.25rem 1.5rem;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  margin-bottom: 4rem;
}

._previewHeader_1e503_17 {
  display: flex;
  justify-content: space-between;
  height: 67.5px;
}

._chip_1e503_23 {
  width: 3.75rem;
  height: 2.8125rem;
  background-color: #ddcd78;
  border-radius: 4px;
}

._cardNumber_1e503_30 {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: clamp(18px, 5vw, 25px);
  font-weight: 500;
  height: 25px;
}

._cardNumber_1e503_30 > span {
  letter-spacing: 4px;
  width: 65px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

._dots_1e503_50 {
  display: flex;
  gap: 0.65rem;
  align-items: center;
  justify-content: center;
  width: 65px;
}

._expire_1e503_58 {
  color: #fff;
  font-size: clamp(18px, 5vw, 25px);
  font-weight: 500;
  letter-spacing: 3px;
  height: 25px;
  padding: 0 0.25rem;
}

._expire_1e503_58 > span {
  display: inline-block;
  width: 30px;
}

._expire_1e503_58 > span:nth-child(2) {
  width: auto;
  padding-right: 0.25rem;
}
._dot_xnpfw_1 {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
._container_pgg4m_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 399px;
  min-height: 800px;
}
._description_pgg4m_8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

._details_pgg4m_15 {
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
._detailsSpan_pgg4m_25 {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}
._roundCheckIcon_16zuh_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #333;
  color: white;
}

._checkMark_16zuh_10 {
  width: 50%;
  height: 50%;
}

._small_16zuh_15 {
  width: 48px;
  height: 48px;
}

._medium_16zuh_20 {
  width: 64px;
  height: 64px;
}

._large_16zuh_25 {
  width: 80px;
  height: 80px;
}
